.body{
    margin-top: 65px;
    max-width: 92%;
    margin-left: 4%;
}


  .footer {
      bottom: 0;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    background-color:  #212121;
    color: white;
    padding:5% 0;
    width: 100%;
  }

  .icon{
      display: inline;
  }

  .center-p{
      text-align: center;
  }

  .card {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    text-align: center;
    font-size: 18px;
  }

  .icon-title{
      margin: 0;
      padding: 0;
      font-size: 4rem;
  }

  .card:hover{
      color: white;
      background-color: purple;
  }

  main {
    padding: 5%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 20px;
  }
  
  /* Screen larger than 600px? 2 column */
  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }
  
  /* Screen larger than 900px? 3 columns */
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }